
body {
    background-image: url("../img/brick_bg.png");
}

html,body { height: 100%; margin: 0px; padding: 0px; }

h1 {
    text-transform: uppercase;
    color: black;
    text-shadow: 1px 1px 3px #BBB, 3px 3px 0px #DDD;
    font-size: 4em;
}

#website {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 10px;
    background-color: white;
    box-shadow: 0px 0px 15px black;
}

#header {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

#logo {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}

#logo img {
    width: 90%;
}

#nav-links {
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}

nav {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-style: ;
}

#nav-links a {
    color: black;
}

#nav-links a:hover {
    color: white;
}

#nav-links li a:hover {
    color: black;
}

#nav-links a, #nav-links .dropdown {
    display: inline-block;
    margin-right: 5px;
}

#social {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

#social-links {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#social-links img {
    width: 40px;
    border-radius: 50%;
    display: block;
    margin-bottom: 5px;
}

.dropdown-menu li {
    padding: 5px 0px;
    text-align: center;
    font-size: 1.1em;
}

.dropdown-menu > li > a:hover {
    background-color: white;
    background-image: none;
    text-shadow: 2px 2px #ddd;
}

main {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0px 25px;
    min-height: 850px;
}

main > img {
    max-width: 100%;
}

main a {
    color: #555;
    font-weight: bold;
}

main a:hover {
    color: black;
}

footer {
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    bottom: 0;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: black;
}

footer hr {
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.caption {
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 15px;
}

#contact {
    margin-top: 25px;
}

#contact .info {
    margin: 15px 0px;
}

#contact .type {
    font-weight: bold;
}

#contact .data {
    margin-bottom: 15px;
}

#contact .data, #contact .type {
    display: block;
}

#contact .info img {
    width: 32px;
    border-radius: 50%;
}

.contact-info {
    bottom: -40px;
    display: inline-block;
    position: relative;
    text-align: left;
}

#map {
    width: 600px;
    height: 300px;
}

#carousel {
    width: 100%;
}

/* Main carousel style */
.carousel-inner {
/*
    max-width: 800px;
    max-height: 500px;
*/
    margin: 0 auto;
}

#carousel iframe {
    width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

/* Indicators list style */
.carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

/* Indicators list style */
.carousel-indicators li, .carousel-indicators li.active {
    border: medium none;
    border-radius: 0;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 0;
    padding: 0px 1px;
    width: 117px;
    max-width: 18%;
}
/* Indicators images style */
.carousel-indicators img {
    float: left;
    left: 0;
    background-color: white;
}
/* Indicators active image style */
.carousel-indicators .active img {
    background-color: black;
    opacity: 0.5;
}

#product-banner {
    margin-bottom: 10px;
}

#product {
    margin: 0 auto;
    padding: 0px 15px 15px 15px;
}

#product p {
    text-align: justify;
}

.product-description {
    font-size: 0.9em;
}

.product-info {
    margin-bottom: 5px;
}

.product-info a {
    font-weight: normal;
}

#news {
    margin-top: 100px;
    width: 100%;
}

#news h2 img {
    width: 25px;
}

#press {
    margin-top: 100px;
}

.blog-post {
    margin-bottom: 25px;
    text-align: justify;
    font-size: 1.2em;
}

.blog-post img {
    max-width: 100%;
}

.blog-content > div {
    text-align: center;
}

.blog-post-date {
    font-style: italic;
    font-size: 0.8em;
    margin: 15px 0px;
}

.blog-post-title {
    font-size: 1.4em;
    font-weight: bold;
    background-color: black;
    padding: 5px;
    box-shadow: 2px 2px 3px #888888;
}

.blog-post-title a {
    color: white !important;
    margin-left: 15px;
}

#more-news {
    margin-top: 15px;
    text-align: center;
}

#gallery-link {
    width: 66%;
    margin-bottom: 0px;
    margin-top: 100px;
}

#gallery-link div {
    margin-left: 25px;
}

#gallery img {
    height: 150px;
    margin: 10px 5px;
    border: 2px solid black;
}

#gallery img:hover {
    border: 2px solid blue;
}

#gallery a:hover {
    text-decoration: none;
}

#gallery-link {
    width: 100%;
    text-align: center;
}

#kickstarter-header {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

#kickstarter-header img {
    width: 50%;
}

#mailing-list {
    height: 550px;
    position: relative;
    background-image: url("../img/products/just-pretend/gallery/017_battle_screenshot.jpg");
    background-repeat: no-repeat;
    webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#mailing-list-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 50%;
    height: 43%;
    margin: 0 auto;
}

#mc_embed_signup {
    margin: 0 auto;
    padding: 0px 10px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* Bootstrap Buttons */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-sharp {
    border-radius: 2;
    background-color: white;
    border: 2px solid black;
    color: black;
}

.btn-sharp:hover {
    color: white;
    background-color: black;
}

/* mobile scaling */

@media all and (max-width: 990px)  {
    .hide-on-mobile {
        visibility: hidden;
        clear: both;
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 3em;
    }

    #header {
        flex-wrap: wrap;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #nav-links {
        margin: 15px 0;
    }

    #nav-links a, #nav-links button {
        font-size: 1em;
    }

    #social-links {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    #social-links a {
        margin-right: 5px;
    }

    #product {
        margin-top: 75px;
        max-width: 800px;
    }

    #news {
        margin-top: 15px;
    }

    .blog-post-title {
        font-size: 1em;
    }

    #gallery img {
        height: 100px;
    }

    .btn {
        padding: 14px 8px;
        letter-spacing: 0px;
        font-weight: 500;
    }
}
