<div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/products/just-pretend">
                <img src="/img/carousel/just-pretend-2.jpg" alt="Just Pretend" title="Just Pretend (Steam &amp; Consoles)">
            </a>
        </div>
        <div class="item">
            <a href="/products/orbert">
                <img src="/img/carousel/orbert-2.png" alt="Orbert (iOS, Android)" title="Orbert (iOS, Android)">
            </a>
        </div>
        <div class="item">
            <a href="/products/lumos">
                <img src="/img/carousel/lumos.png" alt="Lumos Game Analytics" title="Lumos Game Analytics">
            </a>
        </div>
        <div class="item">
            <a href="/products/just-pretend">
                <img src="/img/carousel/just-pretend-1.jpg" alt="Just Pretend" title="Just Pretend (Steam &amp; Consoles)">
            </a>
        </div>
        <div class="item">
            <a href="/products/orbert">
                <img src="/img/carousel/orbert-1.png" alt="Orbert (iOS, Android)" title="Orbert (iOS, Android)">
            </a>
        </div>
    </div>
</div>

<div id="home-subtitle">
    <p>
        <em>Developing fantastic video games in Kitchener, Ontario since 2011</em>
    </p>
</div>