<head>
	<meta charset="UTF-8" />
	<meta name="copyright" content="&copy; 2015 Rebel Hippo Inc." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="google-site-verification" content="p1mSsTQKTBPCQYTaiKcwBJ9t8n9sgQ1g2lQ--ozQhtM" />
	<title>{{ page.title }} &middot; {{ site.title }}</title>

	<!-- Styles -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
 	<link rel="stylesheet" href="/css/hover-min.css" />
	<link rel="stylesheet" href="/css/style.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-icon-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-icon-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Javascript -->
    <script src="/js/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- SEO -->
	<meta name="description" content="Indie game development studio. Creators of the upcoming Just Pretend, Orbert, and Lumos analytics." />
	<meta name="keywords" content="Lumos, Unity, Ontario, Canada, canadian, game, games, video games, Orbert, Just Pretend, Brad Keys, Bradley Keys, analytics, kickstarter, indie, cmf, canada media fund" />

    {% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}
</head>
