<head>
	<meta charset="UTF-8" />
	<meta name="copyright" content="&copy; 2015 Rebel Hippo Inc." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="google-site-verification" content="p1mSsTQKTBPCQYTaiKcwBJ9t8n9sgQ1g2lQ--ozQhtM" />
	<title>{{ page.title }} &middot; {{ site.title }}</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <script src="/js/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<meta name="description" content="Indie game development studio. Creators of the upcoming Just Pretend, Orbert, and Lumos analytics." />
	<meta name="keywords" content="Lumos, Unity, Ontario, Canada, canadian, game, games, video games, Orbert, Just Pretend, Brad Keys, Bradley Keys, analytics, kickstarter, indie, cmf, canada media fund" />
    {% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}
</head>
