<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div id="website">
          <div id="header">
              <div id="logo">
                  <img src="{{ site.url }}img/logo.png" />
              </div>
              <nav>
                  <img class="hide-on-mobile" src="/img/concept_art.png" />
                  <div id="nav-links">
                      <div class="dropdown">
                          <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="products_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Products
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="products_dropdown">
                              <li><a href="/products/Just_Pretend">Just Pretend</a></li>
                              <li><a href="/products/Orbert/">Orbert</a></li>
                              <li><a href="/products/Lumos">Lumos</a></li>
                          </ul>
                      </div>
                      <a class="btn btn-default btn-lg" href="/about/" role="button">About Us</a>
                      <a class="btn btn-default btn-lg" href="/contact/" role="button">Contact</a>
                      <a class="hidden" href="/thanks/">Thanks!</a>
                  </div>
              </nav>
              <div id="social">
                  <div id="social-links">
                      <a href="https://www.facebook.com/rebelhippo">
                          <img src="/img/icons/facebook.png" />
                      </a>
                      <a href="https://twitter.com/RebelHippoInc">
                          <img src="/img/icons/twitter.png" />
                      </a>
                  </div>
              </div>
          </div>
          <main>
              {{ content }}
          </main>
          <footer>
              <img src="/img/footer.png" />
              <p>Copyright &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Rebel Hippo Inc. All rights reserved.</p>
          </footer>
      </div>
  </body>
</html>
