---
layout: page
---

<link rel="stylesheet" href="/css/lightbox.css" />
<div class="row">
    <div class="col-md-7">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item {% if page.video != null %}aspect-ratio{% endif %} active">
                    <a class="{% if page.video != null %}hidden{% endif %}" href="/img/products/{{ page.directory }}/1.png" data-lightbox="highlights">
                        <img src="/img/products/{{ page.directory }}/1.png" alt="...">
                    </a>
                    <iframe class="{% if page.video == null %}hidden{% endif %}" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="item">
                    <a href="/img/products/{{ page.directory }}/2.png" data-lightbox="highlights">
                        <img src="/img/products/{{ page.directory }}/2.png" alt="...">
                    </a>
                </div>
                <div class="item">
                    <a href="/img/products/{{ page.directory }}/3.png" data-lightbox="highlights">
                        <img src="/img/products/{{ page.directory }}/3.png" alt="...">
                    </a>
                </div>
                <div class="item">
                    <a href="/img/products/{{ page.directory }}/4.png" data-lightbox="highlights">
                        <img src="/img/products/{{ page.directory }}/4.png" alt="...">
                    </a>
                </div>
                <div class="item">
                    <a href="/img/products/{{ page.directory }}/5.png" data-lightbox="highlights">
                        <img src="/img/products/{{ page.directory }}/5.png" alt="...">
                    </a>
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel">
                    <img src="/img/products/{{ page.directory }}/1.png" alt="..." class="img-thumbnail" data-target="#carousel">
                </li>
                <li data-slide-to="1" data-target="#carousel">
                    <img src="/img/products/{{ page.directory }}/2.png" alt="..." class="img-thumbnail" data-target="#carousel">
                </li>
                <li data-slide-to="2" data-target="#carousel">
                    <img src="/img/products/{{ page.directory }}/3.png" alt="..." class="img-thumbnail" data-target="#carousel">
                </li>
                <li data-slide-to="3" data-target="#carousel">
                    <img src="/img/products/{{ page.directory }}/4.png" alt="..." class="img-thumbnail" data-target="#carousel">
                </li>
                <li data-slide-to="4" data-target="#carousel">
                    <img src="/img/products/{{ page.directory }}/5.png" alt="..." class="img-thumbnail" data-target="#carousel">
                </li>
            </ol>
        </div>
    </div>
    <div class="col-md-5">
        <div id="product">
            <div id="product-banner" class="hide-on-mobile">
                <img alt="" title="" src="/img/products/{{ page.directory }}/banner.png">
            </div>
            <p class="product-description">
               {{ page.content }}
            </p>
            <p class="product-info">
                <strong>Release Date:</strong> {{ page.release }}
            </p>
            <p class="product-info">
                <strong>Platforms:</strong>
                {% for platform in page.platforms %}
                    <a href="{{ platform[1] }}">{{ platform[0] }}</a>
                {% endfor %}
            </p>
            <p class="product-info">
                <strong>Website:</strong> <a href="{{ page.website }}">{{ page.website }}</a>
            </p>
        </div>
    </div>
</div>
<div id="news">
    <h2>
        News
        <span>
            <a href="feed://{{ page.blog }}/rss">
                <img src="/img/icons/rss.png">
            </a>
        </span>
    </h2>
    <div id="posts">
        <img class="loading-indicator" src="/img/ajax-loader.gif" />
    </div>
    <div id="more-news">
        <a href="http://{{ page.blog }}">More News</a>
    </div>
</div>

<input type="hidden" id="blog_api" value="{{ page.blog }}" />

<template id="post-template">
    <div class="blog-post">
        <div class="blog-post-title">
            <a href="#"></a>
        </div>
        <div class="blog-post-date"></div>
        <div class="blog-post-author"></div>
        <div class="blog-content"></div>
    </div>
</template>

<script>
    $('.carousel').carousel('pause');

    $('.carousel').on('slide.bs.carousel', function () {
        var video = $('.item iframe');

        if (video) {
            var url = video.attr('src');
            video.attr('src', '');  // Stops the playing video
            video.attr('src', url); // Reasign the URL so when we load it again we still have the link
        }
    })
</script>
<script src="/js/tumblr.js"></script>
<script src="/js/lightbox.min.js"></script>
